<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4 text-center">
    <h3>To Do</h3>
    <%= render @to_do_tasks %>
  </div>
  <div class="col-md-4 text-center">
    <h3>Doing</h3>
    <%= render @doing_tasks %>
  </div>
  <div class="col-md-4 text-center">
    <h3>Done</h3>
    <%= render @done_tasks %>
  </div>
</div>